<!-- Footer -->
<footer class="page-footer font-small mdb-color pt-4">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">

        <!-- Footer links -->
        <div class="row text-center text-md-left mt-3 pb-3">

            <!-- Grid column -->
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">Mankind Medicare</h6>
                <p>
                    We provide treat you with the best doctors and technology. We listen to you and care about you. Mankind Medicare, the best friend you've ever found.
                </p>
            </div>
            <!-- Grid column -->

            <hr class="w-100 clearfix d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">Main Sites</h6>
                <p>
                    <a href="/contact_us/make_appointment.php">Make an Appointment</a>
                </p>
                <p>
                    <a href="/contact_us">Feed Back</a>
                </p>
                <p>
                    <a href="/doctors.php?doctor=1">Doctors</a>
                </p>
                <p>
                    <a href="/register">Sign Up</a>
                </p>
            </div>
            <!-- Grid column -->

            <hr class="w-100 clearfix d-md-none">

            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">Health Topics</h6>
                <p>
                    <a href="/blog.php?topic=2">Food Safety</a>
                </p>
                <p>
                    <a href="/blog.php?topic=3">New Diseases</a>
                </p>
                <p>
                    <a href="/blog.php?topic=4">Infection Control</a>
                </p>
                <p>
                    <a href="/blog.php?topic=5">Public Health and Environment</a>
                </p>
            </div>

            <!-- Grid column -->
            <hr class="w-100 clearfix d-md-none">

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">Contact Us</h6>
                <p>
                    <i class="fas fa-home mr-3"></i> Toul Kork, Phnom Penh, Cambodia</p>
                <p>
                    <i class="fas fa-envelope mr-3"></i> info@mankindmed.com</p>
                <p>
                    <i class="fas fa-phone mr-3"></i> + 855 016 126 629</p>
                <p>
                    <i class="fas fa-print mr-3"></i> + 855 016 126 629</p>
            </div>
            <!-- Grid column -->

        </div>
        <!-- Footer links -->

        <hr>

        <!-- Grid row -->
        <div class="row d-flex align-items-center">

            <!-- Grid column -->
            <div class="col-md-7 col-lg-8">

                <!--Copyright-->
                <p class="text-center text-md-left">© 2020 Copyright:
                    <a href="/">
                        <strong> Mankind Madicare</strong>
                    </a>
                </p>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-5 col-lg-4 ml-lg-0">

                <!-- Social buttons -->
                <div class="text-center text-md-right">
                    <ul class="list-unstyled list-inline">
                        <li class="list-inline-item">
                            <a class="btn-floating btn-sm rgba-white-slight mx-1">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn-floating btn-sm rgba-white-slight mx-1">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn-floating btn-sm rgba-white-slight mx-1">
                                <i class="fab fa-google-plus-g"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn-floating btn-sm rgba-white-slight mx-1">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

</footer>
<!-- Footer -->

<script src="/js/plugins/bootstrap-datetimepicker.js"></script>
<script src="/js/jquery-3.4.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/mdb.min.js"></script>
<script src="/js/mdb.lite.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/style.js"></script>
<script src="/js/dropdown.js"></script>

<script>
    // object-fit polyfill run
    // objectFitImages();

    // Material Select Initialization
    $(document).ready(function() {
        $('.mdb-select').materialSelect();
    });

    // Data Picker Initialization
    $('.datepicker').pickadate();

    /* init Jarallax */
    jarallax(document.querySelectorAll('.jarallax'));

    jarallax(document.querySelectorAll('.jarallax-keep-img'), {
        keepImg: true,
        automaticResize: true,
    });
</script>